<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑博客</title>
</head>
<body>
<form action="{% url 'index:article_edit_page_action' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="article_id_hidden" value="{{ article.id | default:'0'}}"/>
    <label>博客标题
        <input type="text" name="title" value="{{ article.title }}" inputmode=''/>
    </label>

    <br/>
    <label>博客内容
        {#            <input type="text" name="content" value="{{ article.content }}"/>#}
        <br/>
        <textarea name="content" style="width:80%;height:200px; margin-top: 5px">{{ article.title }}</textarea>
    </label>

    <br/>

    <input type="submit" value="保存"/>
</form>
</body>
</html>